{sub_dirs, ["lib/aggrsense", "rel"]}.

{compile_opts, ['-W']}.

{eunit_opts,
 [verbose,
  {report, {eunit_surefire, [{dir, "."}]}}
]}.

{deps, [
        {yaws, "1.96.*", {git, "git://github.com/klacke/yaws", {tag, "yaws-1.96"}}},
        {mochiweb, "2.6.*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}}, % For mochijson2
        {valijate, "0.1", {git, "https://github.com/eriksoe/valijate.git", {branch, "master"}}},
        % For testing:
        {triq, "0.1.*", {git, "git://github.com/krestenkrab/triq", {branch, "master"}}}
]}.
